body {
	background-color: #3f3f3f;
}
div.header * {
	display: block;
	text-align: center;
	margin: auto;
	padding: 20px 30px 20px 30px;
	background-color: #f9f9f9;
	
}
div.content {
	margin: 0 auto;
	background-color: #efefef;
	width: 70%;
	padding: 20px 30px 20px 30px;
}
div.what-is {
	text-align: center;
}
a, a:visited, a:hover {
	color: blue;
}
