body {
	background-color: #3f3f3f;
}
div.header * {
	display: block;
	text-align: center;
	margin: auto;
}
div.content {
	margin: 0 auto;
	background-color: #f0f0f0;
	width: 70px;
}
div.what-is {
	text-align: center;
}
a, a:visited, a:hover {
	color: blue;
}
